/* global.css */
:root {
    --primary-color: #f0f0f0;
    --secondary-color: #333;
    --color-1: #caf0f8;
    --color-2: #ade8f4;
    --color-3: #90e0ef;
    --color-4: #48cae4;
    --color-5: #00b4d8;
    --color-6: #0096c7;
    --color-7: #0077b6;
    --color-8: #023e8a;
    --color-9: #03045e;
    /* Add more color variables as needed */
  }

  body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Customize the scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--primary-color);
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0, 0.5);
  }
  